/* Global */

:root {
    /* Color */
    --color-logo: #F27979;
    --color-light-logo: #f7b5b5;
    --color-white: #ffffff;
    --color-black: #30383b;
    --color-dark-grey: #686666;
    --color-grey: #dddddd;
    --color-light-grey: #f1f1f1;
    --color-warm-grey: #fff9f8;

    /* Font size */
    --font-large: 48px;
    --font-medium: 36px;
    --font-regular: 22px;
    --font-small: 14px;

    /* Font Weight */
    --weight-black: 900;
    --weight-bold: 700;
    --weight-regular: 400;

    /* Font */
    --font-sans: 'Noto Sans KR', sans-serif;
}

/* Universal tags */
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--color-black);
    font-weight: var(--weight-bold);
    font-size: var(--font-small);
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0 0;
}

span {
    color: var(--color-dark-grey);
    font-size: var(--font-small);
    font-family: 'Noto Sans KR', sans-serif;
}

ul {
    list-style: none;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: var(--weight-bold);
    font-size: var(--font-small);
    padding: 0 0;
}

button {
    color: var(--color-white);
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--color-logo);
    border: none;
    outline: none;
    border-radius: 40px;
    width: 170px;
    height: 50px;
    cursor: pointer;
}

/* Section common */

.section {
    margin: auto;
    text-align: center;
    padding: 80px 0;
}

.section__container {
    max-width: 1200px;
    margin: auto;
}

/* Typograph */
h1 {
    color: var(--color-black);
    font-size:var(--font-large);
    font-weight: var(--weight-bold);
    margin: 36px 0;

}

h2 {
    color: var(--color-black);
    font-size: var(--font-medium);
    font-weight: var(--weight-bold);
    margin: 18px 0;
}

h4 {
    color: var(--color-black);
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    margin: 18px 0;
}

p {
    color: var(--color-dark-grey);
    font-size: var(--font-small);
    font-family: 'Noto Sans', sans-serif;
    margin: 18px 0;
}

/* Content box common */

.contentbox {
    border: 1px solid var(--color-grey);
    width: 360px;
    height: 580px;
    padding: 20px 20px 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    transition: all 300ms ease-in;
}

.contentbox button {
    background-color: var(--color-black);
}

.contentbox p {
    line-height: 24px;
}

.contentbox img{
    width: 100%;
    height: 50%;
}

/* chart */
.pie-chart {
    position: relative;
    display:inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.3s;
  }
  span.center{
    background: #fff;
    display : block;
    position: absolute;
    top:50%; left:50%;
    width:100px; height:100px;
    border-radius: 50%;
    text-align:center; 
    line-height: 100px;
    font-size:30px;
     transform: translate(-50%, -50%);
  }
  .pie-chart1{
    animation: pie1 0.5s forwards;
  }
  @keyframes pie1{
    0%{background : conic-gradient(#7878E1 0% 0%, #ffffff 0% 100%)}
    6%{background : conic-gradient(#7878E1 0% 5%, #ffffff 0% 100%)}
    12%{background : conic-gradient(#7878E1 0% 10%, #ffffff 0% 100%)}
    18%{background : conic-gradient(#7878E1 0% 15%, #ffffff 0% 100%)}
    25%{background : conic-gradient(#7878E1 0% 20%, #ffffff 0% 100%)}
    33%{background : conic-gradient(#7878E1 0% 25%, #ffffff 0% 100%)}
    38%{background : conic-gradient(#7878E1 0% 30%, #ffffff 0% 100%)}
    44%{background : conic-gradient(#7878E1 0% 35%, #ffffff 0% 100%)}
    50%{background : conic-gradient(#7878E1 0% 40%, #ffffff 0% 100%)}
    56%{background : conic-gradient(#7878E1 0% 45%, #ffffff 0% 100%)}
    62%{background : conic-gradient(#7878E1 0% 50%, #ffffff 0% 100%)}
    68%{background : conic-gradient(#7878E1 0% 55%, #ffffff 0% 100%)}
    75%{background : conic-gradient(#7878E1 0% 60%, #ffffff 0% 100%)}
    82%{background : conic-gradient(#7878E1 0% 65%, #ffffff 0% 100%)}
    88%{background : conic-gradient(#7878E1 0% 70%, #ffffff 0% 100%)}
    94%{background : conic-gradient(#7878E1 0% 75%, #ffffff 0% 100%)}
    100%{background : conic-gradient(#7878E1 0% 80%, #ffffff 80% 100%)}
  }
  
  .pie-chart2{
    animation: pie2 0.5s forwards;
  }
  @keyframes pie2{
    0%{background : conic-gradient(#3296D7 0% 0%, #ffffff 0% 100%)}
    12%{background : conic-gradient(#3296D7 0% 5%, #ffffff 0% 100%)}
    25%{background : conic-gradient(#3296D7 0% 10%, #ffffff 0% 100%)}
    33%{background : conic-gradient(#3296D7 0% 15%, #ffffff 0% 100%)}
    44%{background : conic-gradient(#3296D7 0% 20%, #ffffff 0% 100%)}
    50%{background : conic-gradient(#3296D7 0% 25%, #ffffff 0% 100%)}
    57%{background : conic-gradient(#3296D7 0% 30%, #ffffff 0% 100%)}
    63%{background : conic-gradient(#3296D7 0% 35%, #ffffff 0% 100%)}
    70%{background : conic-gradient(#3296D7 0% 40%, #ffffff 0% 100%)}
    78%{background : conic-gradient(#3296D7 0% 45%, #ffffff 0% 100%)}
    82%{background : conic-gradient(#3296D7 0% 50%, #ffffff 0% 100%)}
    90%{background : conic-gradient(#3296D7 0% 55%, #ffffff 0% 100%)}
    95%{background : conic-gradient(#3296D7 0% 60%, #ffffff 0% 100%)}
    100%{background : conic-gradient(#3296D7 0% 65%, #ffffff 0% 100%)}
  }


  .pie-chart3{
    animation: pie3 0.5s forwards;
  }
  @keyframes pie3{
    0%{background : conic-gradient(#3C5A91 0% 0%, #ffffff 0% 100%)}
    10%{background : conic-gradient(#3C5A91 0% 5%, #ffffff 0% 100%)}
    20%{background : conic-gradient(#3C5A91 0% 10%, #ffffff 0% 100%)}
    30%{background : conic-gradient(#3C5A91 0% 15%, #ffffff 0% 100%)}
    40%{background : conic-gradient(#3C5A91 0% 20%, #ffffff 0% 100%)}
    50%{background : conic-gradient(#3C5A91 0% 25%, #ffffff 0% 100%)}
    60%{background : conic-gradient(#3C5A91 0% 30%, #ffffff 0% 100%)}
    70%{background : conic-gradient(#3C5A91 0% 35%, #ffffff 0% 100%)}
    80%{background : conic-gradient(#3C5A91 0% 40%, #ffffff 0% 100%)}
    90%{background : conic-gradient(#3C5A91 0% 45%, #ffffff 0% 100%)}
    100%{background : conic-gradient(#3C5A91 0% 50%, #ffffff 0% 100%)}
}



/* Navbar */

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background-color: var(--color-warm-grey);
    padding: 20px 0;
}

#navbar .section__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.navbar__logo{
    width: 220px;
    height: 40px;
    border: 1px solid #F27979;
    cursor: pointer;
    line-height: 40px;
    margin: 16px auto;
    color: #F27979;
}


.navbar__menu {
    display: flex;
    align-items: center;
}

.navbar__menu__item {
    margin: 0 12px;
    cursor: pointer;
}

.navbar__toggle-btn {
    background-color: transparent;
    color: var(--color-dark-grey);
    display: none;
}

/* GO_MANAGER*/

#GO_MANAGER {
    text-align: left;
}

.GO_MANAGER__reserveBtn {
    border-radius: 0;
    margin-right: 20px;
}

.GO_MANAGER__videoBtn {
    background-color: transparent;
    color: var(--color-dark-grey);
}

.GO_MANAGER__videoBtn i {
    color: var(--color-logo);
    background-color: var(--color-light-grey);
    border-radius: 50%;
    width: 30PX;
    height: 30PX;
    line-height: 30PX;
    font-size: 10px;
    text-align: center;
    margin-right: 10px;
}

.GO_MANAGER__description {
    margin-bottom: 54px;
}


/* Monitoring */

.Monitoring {
    display: flex;
    margin: 60px 0;
    justify-content: center;
}

.Monitoring .active button {
    background-color: var(--color-logo);
}

.Monitoring .contentbox:hover button {
    background-color: var(--color-logo);
}

.Monitoring .active {
    box-shadow: 4px 4px 20px rgb(148, 147, 147);
}
.Monitoring .contentbox:hover {
    box-shadow: 4px 4px 20px rgb(148, 147, 147);
}


/* Contact */

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 80px;
    margin-top: 80px;
}

.contact__info {
    flex: 40;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact__info__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

.contact__info__item i {
    background-color: var(--color-logo);
    color: var(--color-white);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 20px;
    margin-right: 30px;
}

.contact__form {
    flex: 60;
    font-family: 'Noto Sans', sans-serif;
    font-size: var(--font-small);
    color: var(--color-dark-grey);
    text-align: left;
    display: flex;
    flex-direction: column;
}

.contact__form__item {
    border: 1px solid var(--color-grey);
    margin: 10px 0;
    padding: 16px;
    flex:1;
}

.contact__form__item.comment {
    flex: 2;
}

.contact__info__description {
    text-align: left;
}

.contact__submitbtn{
    margin-top: 20px;
}



/* Footer */
#footer {
    margin: 100px 0px 0px 0px;
    background-color: var(--color-warm-grey);
    padding: 60px 0;
    text-align: center;
}

.footer__menu {
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

.footer__menu__item {
    margin: 0 10px;
}

.footer__rights {
    margin: 20px 0;
    font-size: 10px;
}

.footer__sns {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 5%;
}


/* For below 768px screen width */
@media screen and (max-width: 768px) {
    .navbar__toggle-btn {
        display: block;
    }
    #navbar .section__container {
        flex-direction: column;
        align-items: flex-start;
    }

    .section__container {
        padding: 0 10px;
    }

    .navbar__menu {
        flex-direction: column;
        text-align: center;
        width: 100%;
        display: none;
    }

    .navbar__logo {
        margin: auto;
    }

    .Monitoring, .teammates, .blog__posts, .contact {
        flex-direction: column;
        align-items: center;
    }

    .feature__title {
        font-size: var(--font-small);
    }

    .contentbox {
        margin-bottom: 60px;
    }

    .teammate {
        margin-bottom: 60px;
    }


}
